.profile-card {  
  height: 500px;  
}
.head { 
  height: 300px;
}
body {     
       line-height: 1.5;
       letter-spacing: 0.01em;
       color:  black;
       padding: 0;  
}
p::first-letter {
    font-family: "Cinzel Decorative", cursive;
    font-size: 32px;
} 
.content { 
  height: 350px;
}
.profile-image {  
  height: 140px;
}
.name-headline {  
  height: 100px;
}
.about {  
  height: 150px;
}

.design {  
  height: 60px;
}
.profile-card {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}

.links {
 /* background-color: hsla(300, 100%, 50%, .4);*/
  height: 120px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
.profile-card {
  width: 480px;
  max-width: calc(100vw - 10px);
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;  
  background: url('assets/Japán.jpg') no-repeat center center fixed;  
  background-size: cover;
}

.head, .links {
  text-align: center;
}
.head, .content {
  width: 90%;
  margin: 0 auto;
}
.content {
  border-top: 1px solid hsla(0, 0%, 30%, .8);
}
.head, .about {
  margin-bottom: 10%;
}
.content {
  padding: 5% 10%;
}
.profile-image {
  margin-top: -20px;
}

img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 1px;
  background-color: #666;
  filter: grayscale(50%);
  transition: all 0.5s ease-in-out;
}
img:hover {
  filter: grayscale(30%);
  transform: scale(1.3);
}
.profile-card {
 /* background-color: hsla(0, 0%, 100%, .5);*/
  border-radius: 10px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}
ul {
  list-style-type: none;
}

li {
  display: inline;
}







